*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Cairo",sans-serif;
}

body{
    background:#000;
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}

/* النجوم */
.stars{
    position:fixed;
    width:100%;
    height:100%;
    background:
    radial-gradient(2px 2px at 20% 30%,#fff,transparent),
    radial-gradient(2px 2px at 70% 40%,#fff,transparent),
    radial-gradient(3px 3px at 40% 80%,#fff,transparent),
    radial-gradient(2px 2px at 90% 20%,#fff,transparent),
    radial-gradient(2px 2px at 60% 60%,#fff,transparent);
    animation:starsMove 12s linear infinite;
    z-index:-2;
}

@keyframes starsMove{
    from{transform:translateY(0);}
    to{transform:translateY(-100px);}
}

/* المحتوى */
.container{
    width:90%;
    max-width:700px;
    text-align:center;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.15);
    backdrop-filter:blur(10px);
    border-radius:25px;
    padding:40px;
    box-shadow:0 0 35px rgba(255,20,147,.35);
    animation:fadeIn 2s;
}

h1{
    color:#ff4da6;
    font-size:42px;
    margin-bottom:25px;
    text-shadow:0 0 20px #ff4da6;
}

#typing{
    font-size:22px;
    color:#fff;
    min-height:90px;
    line-height:2;
    margin-bottom:35px;
}

#enter{
    background:linear-gradient(45deg,#ff007f,#ff4da6);
    color:white;
    border:none;
    padding:18px 40px;
    border-radius:50px;
    font-size:20px;
    cursor:pointer;
    transition:.4s;
    box-shadow:0 0 20px #ff4da6;
}

#enter:hover{
    transform:scale(1.08);
    box-shadow:0 0 40px #ff4da6;
}

/* قلوب متحركة */
.heart{
    position:fixed;
    color:#ff4da6;
    font-size:22px;
    animation:float 7s linear infinite;
    opacity:.6;
    pointer-events:none;
}

@keyframes float{
    from{
        transform:translateY(100vh) scale(.5);
        opacity:0;
    }

    20%{
        opacity:.8;
    }

    to{
        transform:translateY(-120px) scale(1.4);
        opacity:0;
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* الموبايل */
@media(max-width:600px){

h1{
    font-size:30px;
}

#typing{
    font-size:18px;
}

#enter{
    width:100%;
    font-size:18px;
}

}